!!!
%html{ "data-ng-app" => 'ngApp' }
  = render 'layouts/head'

  %body
    = render 'layouts/header'
    .container
      = render 'layouts/flash'
      %div{ class: auto_class }= yield
    = render 'layouts/footer'
